/* ELEMENT QU'ON RETROUVE UN PEU PARTOUT ! */

body {
    background: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--primary-color);
    font-size: 38px;
}

h3, .section-subtitle {
    font-family: 'Raleway', sans-serif;
    color: var(--tertiary-color);

}

p {
    color: var(--black-color);
    font-family: "Bellota", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0.5rem 0;
    font-size: 17px;
}
