/* ELEMENT QU'ON RETROUVE UN PEU PARTOUT ! */

body {
    background: var(--white-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--primary-color);
    font-size: 38px;
}

h3, .section-subtitle {
    font-family: 'Raleway', sans-serif;
    color: var(--tertiary-color);

}

p {
    color: var(--black-color);
    font-family: "Bellota", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0.5rem 0;
    font-size: 17px;
}

ul {
    list-style-type: none !important;
    padding-left: 0 !important;
}

.mgc-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mgc-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-vert {
    background-color: #469E46;
    color: white;
    border: 2px solid #469E46;
}

.btn-vert:hover {
    background-color: #368036;
    border-color: #368036;
    transform: translateY(-2px);
}

.btn-blanc {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-blanc:hover {
    background-color: white;
    color: #469E46;
}

