/* RESPONSIVE - NAVIGATION */

@media (max-width: 768px) {
    .navbar-custom .nav-link {
        margin: 0.25rem 0;
    }
}


/* RESPONSIVE - AFFICHE EQUIPE */

@media (max-width: 768px) {
    .member-photo {
        width: 120px;
        height: 120px;
    }

    .chef-projet .member-photo {
        width: 140px;
        height: 140px;
    }
}
/* RESPONSIVE - MARCHE */

@media (max-width: 768px) {
    .aligner-container {
        display: flex;
        flex-direction: column;
    }
}

/* RESPONSIVE - MACROPLANNING */

@media (max-width: 768px) {
    .macroplanning-container img {
        width: 110%;
    }
}

/* RESPONSIVE - ALIGNER & PESTEL */

@media (max-width: 768px) {
    .pestel-photo-pictures {
        width: 200px;
        height: 200px;
    }

    .aligner {
        padding: 1rem;
    }
}

/* RESPONSIVE - FOOTER */

@media (max-width: 768px) {
    .footer-nav ul {
        gap: 20px;
        flex-direction: column;
    }
}
