/* RESPONSIVE - AFFICHE EQUIPE */

@media (max-width: 768px) {
    .member-photo {
        width: 120px;
        height: 120px;
    }

    .chef-projet .member-photo {
        width: 140px;
        height: 140px;
    }
}
/* RESPONSIVE - MARCHE */

@media (max-width: 768px) {
    .marche-container {
        display: flex;
        flex-direction: column;
    }
}

/* RESPONSIVE - MACROPLANNING */

@media (max-width: 768px) {
    .macroplanning-container img {
        width: 110%;
    }
}